@{
    User currentUser = ViewBag.user;
    Reward currentReward = ViewBag.reward;
    String message = ViewBag.message;
}



<h3>@message</h3>
<br />
<h3>Reward: @currentReward.RewardName</h3>
<br />
<h4>@currentUser.UserName</h4>
<h4>Points left: @currentUser.BPoints</h4>
<a href="../../@currentUser.UserId">Back</a>